[2022-03-24 12:40] abhigoku10 opened #15 "MultiLabel Classification"
@datvuthanh @xoiga123  Thanks for sharing the code base, it is really helpful , but i had a few queries

1. Can we have multi-label classification also from the existing code? as I see two things one is that in the annotations there is attribute:{"trafficator": green} and in the loss.py there is a macro MULTILABEL mode is there
2. I am looking for a single bounding box with multilabel classificati

[2022-03-25 11:49] datvuthanh commented on #15
Hi @abhigoku10, you just change number of classes in bdd100k.yaml. Also, you need to modify dataset.py to load your dataset. I don't think it is so difficult.

[2022-03-29 07:53] datvuthanh commented on #15
I'll close this topic. Thank you!

[2022-03-29 21:43] fjremnav opened #16 "add traffic sign, traffic light and pedestrian to detection"
How to modify bdd100k.yaml so object detection includes traffic sign, traffic light and pedestrian to detection?

Thanks,

[2022-03-30 03:59] datvuthanh commented on #16
Hi @fjremnav,

We'll update dataset for multi classes soon.

[2022-03-30 07:57] xenera-thinh opened #17 "ImportError: cannot import name 'display' from 'utils.utils'"
Hello,

I'm encountering an issue where loss.py is trying to import a function named display from utils/utils.py but this function is undefined. I couldn't run train.py as a result of this.

[2022-03-30 11:30] datvuthanh commented on #17
Hi @xenera-thinh,

Thank you for your issue, we'll fix this code soon.

[2022-03-30 11:30] #17 closed

[2022-03-30 14:31] xoiga123 commented on #16
In order to use multi-classes, you need to edit `hybridnets/dataset.py`:

[code]

and `projects/project.yml`:
[code]

[2022-03-30 19:43] fjremnav commented on #16
There are 2 variables, self.id_dict and self.id_dict_single in the dataset.py and which one I need to change:
        self.id_dict = {'person': 0, 'rider': 1, 'car': 2, 'bus': 3, 'truck': 4,
                'bike': 5, 'motor': 6, 'tl_green': 7, 'tl_red': 8,
                'tl_yellow': 9, 'tl_none': 10, 'traffic sign': 11, 'train': 12}
        self.id_dict_single = {'car': 0, 'bus': 1, 'truck': 2,

[2022-03-30 21:27] xoiga123 commented on #16
Thank you for your questions. We've realized that it's too troublesome to do manually and so we changed them a little bit.

Now to do multi-class, you only have to edit `project.yml` from:
[code]

to:
[code]

Happy training :smile:

[2022-03-31 18:25] fjremnav commented on #16
I change project.yaml according to your suggestion:

obj_list: ['person', 'traffic sign', 'traffic light']
obj_combine: []

After finishing the training and run inference using:
python hybridnets_test.py -w checkpoints/None/hybridnets-d3_0_17500.pth --source demo/image --output demo_result --imshow False --imwrite True

I got the following errors:

    self.__class__.__name__, "\n\t".join(error_ms

[2022-03-31 22:43] fjremnav commented on #16
I pull the latest code and run it again. Now I have a different error below:

Traceback (most recent call last):
  File "hybridnets_test.py", line 105, in <module>
    model.load_state_dict(torch.load(weight, map_location='cuda' if use_cuda else 'cpu'))
  File "/home/test/anaconda3/envs/remnav/lib/python3.7/site-packages/torch/nn/modules/module.py", line 1407, in load_state_dict
    self.__class__

[2022-04-01 04:45] james-yoo opened #18 "Docker support?"
Thanks for sharing great work!

I've got Segmentation Fault when run demo image/video with pre-trained weight. Different version of dependencies(e.g: CUDA ..) may casue error. Would it be possible to provide Docker file to build container?

[2022-04-01 08:48] datvuthanh commented on #18
Currently, We don't support docker version ,but you can contribute this to us.

[2022-04-01 08:48] #18 closed

[2022-04-02 20:54] xoiga123 commented on #16
[code]

We did a little oopsie haha

![sorry](https://i.pinimg.com/originals/b8/c7/61/b8c761c35efd723a6ed1d460d413d6e6.gif)

[2022-04-05 19:31] saimouli opened #19 "Possibility of training on COCO 2017 for object detection module"
Has authors of this paper trained on COCO? If so,  are there any pre-trained weights available?

If not, any suggestion on parameters that needs to be tuned to train on the COCO dataset?

[2022-04-05 19:44] fjremnav commented on #16
I pull the latest code and test seems working OK. However, quality is quite bad on test images with my trained model using bdd100k dataset.
See the attachment of inferencing result of 4.jpg
![4](https://user-images.githubusercontent.com/80799501/161836210-e7a2385f-05c2-47b4-950a-baa3409335b2.jpg)
Do you have a trained weight with traffic light, traffic sign and car in the detection classes?

[2022-04-06 06:15] datvuthanh commented on #16
Hi @fjremnav, before training your network. You need to recalculate the anchor scales and anchor ratios and modify your anchor scale in backbone.py. Secondly, training object detection task is a challenge, it took at least 250-300 epochs to model can convergence.

[2022-04-06 06:18] datvuthanh commented on #19
hi @saimouli,

Unfortunately, we don't train on COCO dataset. We will update our tutorial for custom dataset soon.

[2022-04-06 06:18] #19 closed

[2022-04-11 02:16] nannapaneni4 opened #20 "Lane color and Lane type Segmentation"
In the traffic light and traffic sign detection issue, you've mentioned that we just have to change the obj_list in `project.yml` by adding the classes needed. Does that apply to seg_list as well?

If I want to detect lane color and lane type, can I change `seg_list` as follows

`seg_list: ['road', 'double white', 'double yellow', 'single white', 'single yellow', 'solid', 'dashed']`

Actually, I n

[2022-04-11 13:57] abhigoku10 opened #21 "Drivable and Lane Type training"
@datvuthanh  thanks for sharing the code based i have following queries
1. since bdd100k has different types of lanes eg double yellow, single white lane , dashed, can we use current source code to train for different lane types? is so what are the modifications need to be made int he code based
2. Can we similar train the current source code with the driveable area and alternate drivable area lab

[2022-04-11 17:10] datvuthanh commented on #21
Yes, I don't think it is problem. On segmentation task, the imbalanced classes is a challenge and we solved this problem by combining between Focal Loss and Tversky Loss. You can try it and adjust parameters a, b:
``` Loss = a * Focal Loss + b * Tversky Loss ```

[2022-04-11 17:19] fjremnav commented on #16
@datvuthanh

  With the latest code, I am not able to do training after 1st. Below is the log:
  Step: 17499. Epoch: 0/500. Iteration: 17500/17500. Cls loss: 0.76407. Reg loss: 7.51139. Seg loss: 0.48101. Total loss: 8.75646: 100%|██████████| 17500/17500 [1:32:22<00:00,  3.16it/s]
checkpoint...
checkpoint...
checkpoint...
checkpoint...
checkpoint...
checkpoint...
checkpoint...
checkpoint...
checkp

[2022-04-11 18:05] xoiga123 commented on #16
Hi @fjremnav, we did train them for a few epochs and it worked fine. Let's look at your log:

1. Training completed a whole epoch. Losses are okay.
2. Really really weird that checkpoint got printed an absurd amount of times. We'll look into this later, but this is not our main concern here. It probably worked fine enough (albeit checkpointing the same weight many times).
3. Validating got killed

[2022-04-12 18:45] xoiga123 commented on #20
Yes and no.

Yes because the model won't break, segmentation output is softmax.
[code]

No because data preparation and demo breaks, we hardcoded in certain places.
[code]
[code]
We'll softcode these parts _soon_, _hopefully_ by the next commit. In the meantime, please feel free to track where `seg_list` is used and modify them yourself if you fancy a challenge. Copy and paste lane to lane2...lane

[2022-04-12 18:56] xoiga123 commented on #21
I think he's correct 👍
Linking to #20 for easy tracking.

[2022-04-12 18:56] #21 closed

[2022-04-21 09:45] rose-jinyang opened #22 "To control the network configuration"
Hello
How are you?
I want to train a model for ONLY object detection except segmentation.
Could u provide a way to control this in .yaml file?
Thanks.

[2022-04-21 11:37] datvuthanh commented on #22
You can read our strategy in README. Basically, you can add ```--freeze_seg True``` command before training.

[2022-04-22 09:11] ForestWang opened #23 "inference latency"
the inference latency 37ms on V100 with FP16 from the paper.
does it test with tensorrt or just python inference ?

and how about the speed with preprocess and NMS postprocessing?

thanks very much!

[2022-04-22 09:17] viet24dung opened #24 "Training log?"
Hello
I want to retrain your model.
Could u provide a training log file?
thanks very much

[2022-04-22 14:36] ForestWang opened #25 "light weight backbone"
would you support some light weight backbones such as RepVGG which is GPU friendly?

[2022-04-22 20:38] xoiga123 commented on #23
1. It's python inference. We are learning to port the model to tensorrt ourselves. You can check [this superb piece of work](https://github.com/PINTO0309/PINTO_model_zoo/tree/main/276_HybridNets) for some quick benchmark in tensorrt. I believe he used a parser to parse our net, and since EfficientNet(Det) was fully parsed years ago, I doubt there's any performance drop compared to rebuilding Hybri

[2022-04-22 20:50] xoiga123 commented on #24
Sorry, logs are unavailable. We did lots of backtracking through different checkpoints to experiment, and logging quickly went FUBAR. Please follow our (training stages guideline)[https://github.com/datvuthanh/HybridNets#training-stages] and hope for the best. Feel free to update your results in this thread and we'll be here to assist. Good luck!

[2022-04-22 21:24] xoiga123 commented on #25
Sure thing! We hid it inside `backbone.py` but now we're bringing it to light (command-line). Use [timm](https://github.com/rwightman/pytorch-image-models) to replace your backbone. Try

`python train.py -p bdd100k -bb repvgg_b0`

This is basically what we do under the hood:

[code]

[2022-04-25 07:32] #22 closed

[2022-05-06 12:50] Yunboxun opened #26 "TypeError: 'NoneType' object is not callable"
![image](https://user-images.githubusercontent.com/77442461/167134449-0e693c06-b34d-47a8-abf7-948c690b0844.png)
Excuse me, how can I solve this error？

[2022-05-06 15:28] tiendatAI commented on #26
pls check `progress_bar` is Nonetype or not

[2022-05-06 15:50] tiendatAI opened #27 "Could not use Pytorch quantization for model"
`model_to_quantize = copy.deepcopy(model)`

`qconfig_dict = {"": torch.quantization.get_default_qconfig('qnnpack')}`

`model_to_quantize.eval()`

`# prepare`
`model_prepared = quantize_fx.prepare_fx(model_to_quantize, qconfig_dict)`

`# calibrate (not shown)`
`# quantize`
`model_quantized = quantize_fx.convert_fx(model_prepared)`

When using Pytorch quantization [example](https://pytorch.org/tutor

[2022-05-07 01:21] Yunboxun commented on #26
![image](https://user-images.githubusercontent.com/77442461/167232287-299c1a71-eadd-4d2b-ba7d-be2faff3bb55.png)
![image](https://user-images.githubusercontent.com/77442461/167232318-dcc89be0-6b39-47a1-8a49-dfebc8881686.png)

Thank you, but I still don't know how to solve the problem

[2022-05-07 11:12] tiendatAI commented on #26
To be honest, I don't know exactly why your object `progress_bar` is Nonetype. So I think you should check out its base objects like `training_generator` or `DataLoaderX`.

[2022-05-07 13:54] Yunboxun commented on #26
In fact, I'm testing these data types, but since I'm a rookie, can I have a look at the internal structure of these parameters? Compare them with mine to find out the problems. If I can, I'd like to see 'training_ generator 'and' train_ dataset‘，thank you very much.

[2022-05-09 20:06] #25 closed

[2022-05-09 20:07] #24 closed

[2022-05-09 20:07] #23 closed

[2022-05-09 20:07] #16 closed

[2022-05-10 04:27] congminh869 opened #28 "RuntimeError: "slow_conv2d_cpu" not implemented for 'Half'"
When I run on CPU this error appear. Can you help me fix it?

[2022-05-10 10:49] xoiga123 commented on #28
Oke.

[2022-05-10 10:52] #28 closed

[2022-05-10 11:06] xoiga123 commented on #27
Hi, we currently do not have much experience in Pytorch quantizating. Seems like you need to modify the model to be _symbolically traceable_. You can skip the non-traceable parts using this [guide](https://pytorch.org/tutorials/prototype/fx_graph_mode_quant_guide.html) for the time being, or try eager mode quantization. Keep us updated with your progress, we're learning too.

[2022-05-11 01:33] congminh869 commented on #28
Thanks xoiga123 I fixed it

[2022-05-20 14:54] huoguangdiandian opened #29 "RuntimeError: unexpected EOF, expected 77466 more bytes. The file might be corrupted."
您好，在训练过程中遇到一个文件不能下载，请问是什么原因啊
![1653058433(1)](https://user-images.githubusercontent.com/45250079/169554983-ad7f432d-b1fe-4a84-a4d7-dd86aaaab256.jpg)

[2022-05-23 01:55] huoguangdiandian opened #30 "a problem in training?"
您好，我在训练完一个epoch，做val的时候训练程序被杀死，没有任何其他报错，请问是什么原因啊？
![1653270926(1)](https://user-images.githubusercontent.com/45250079/169728927-b47379d7-ae9e-470e-8edc-1b576bb763d7.jpg)

[2022-05-23 16:52] datvuthanh commented on #30
Sorry @huoguangdiandian, we dont understand what you said. We are Vietnamese not Chinese.

Thank you

[2022-05-24 02:20] huoguangdiandian commented on #30
i am sorry@datvuthanh, The meaning of this problem is that when I started to execute val function after training an epoch, the program was directly killed without any error reported. However, I reduced the verification set to 1000 pieces and could train normally, but there was still a problem with the verification, and the verification result could not be obtained, and loss was invalid
![image](ht

[2022-05-24 03:08] datvuthanh commented on #30
Hi @huoguangdiandian , because we set nms iou threshold (line 61 in val) is 0.0001 to get largest recall. You can turn off val during training or modifying up to 0.5.

[2022-05-24 03:08] datvuthanh commented on #30
But I see your validation data is Nan, so you should check your data again.

[2022-05-24 04:15] huoguangdiandian commented on #30
thanks, I'll try again with your suggestion

[2022-05-24 18:23] #27 closed

[2022-05-30 07:50] HerrYu123 opened #31 "Lane Line mean Intersection Over Union"
I've noticed that you have mentioned in the abstract that 31.6 is mean Intersection Over Union. I wonder if 31.6 is Intersection Over Union (without background) not mean Intersection Over Union

[2022-05-31 10:32] #29 closed

[2022-05-31 10:33] #30 closed

[2022-06-03 07:09] Gateway2745 opened #32 "Tensor size mismatch"
@datvuthanh @xoiga123
Hi. I am receiving this error when I pass a .jpg input image of size (2160,4096,3) for testing. Can you please help me resolve this issue? Thank you!

Command I ran - `python hybridnets_test.py -w weights/hybridnets.pth --source demo/image --output demo_result --imshow False --imwrite True`

[code]

[2022-06-03 12:17] datvuthanh commented on #32
Hi @Gateway2745 , this is because the input size need to have the ratio 32x. 2160 : 32 = 67.5 not integer. So, you must resize your input (my suggestion is the input is 640,384).

[2022-06-03 12:18] #32 closed

[2022-06-05 07:05] xoiga123 commented on #27
@tiendatAI how's it been? It's not like we are in dire need of a quantizated model right now or anything, but it would be cool if you can share your results with us :wink:

[2022-06-10 07:15] TalalWasim opened #33 "Guide for Custom Dataset Training"
Hi,

Is there any guide/tutorial to train on a custom dataset? Especially fine tuning the pretrained weights towards a single downstream task (only object detection labels)?

Kind regards,
Talal

[2022-06-14 08:06] xoiga123 opened #34 "[Discussion] Gradient flow"
Back when we were toying with mosaic, we removed the segmentation head completely from the model and dataloader. Now that we try to add mosaic augmentation officially, we have to make a decision of not using it for segmentation training.

hybridnets/dataset.py
[code]

Only images and object annotations are mosaic, while segmentation annotations are kept intact, which produces incorrect segmentatio

[2022-06-15 02:57] huoguangdiandian opened #35 "Evaluate the model ?"
hi, I have two problems and hope to help me out, thank you!
1) I have trained new model and want to evaluate the model. There are two functions val() and val_from_cmd(), in val.py. what's the difference between the two functions?
2) I have modified the number of categories to 10, and when I run the val.py, there is a error:ValueError: operands could not be broadcast together with shapes (12,) (4,)

[2022-06-15 04:17] xoiga123 commented on #35
1. val_from_cmd is a cut-down version of val, to validate from command-line instead of from training. I think in this stage of the repo, trading some repetitive code for better readability is okay. Maybe we'll merge them with some if-else in the future.
2. #20, we haven't supported segmentation other than road and lane line yet. I have some free time now so I'll work on it.

[2022-06-15 06:21] huoguangdiandian commented on #35
@xoiga123 your means that I can not use val.py to evaluate the model yet?

[2022-06-15 07:20] xoiga123 commented on #35
@huoguangdiandian yes, yet :running_man:

[2022-06-15 07:43] huoguangdiandian commented on #35
Thank you for your reply

[2022-06-15 09:30] xoiga123 commented on #35
@huoguangdiandian False alarm, it was not related to segmentation classes at all. It was about batch-size thingy. Pull the repo and try again, I also merged val_from_cmd with val.

[2022-06-16 08:03] liuliaocheng opened #36 "IndexError: boolean index did not match indexed array along dimension 0"
Hello , when i put a image  of size 1920*1080 for test,there is the following error.
Can you please help me resolve this issue? Thank you!
"IndexError: boolean index did not match indexed array along dimension 0; dimension is 1080 but corresponding boolean dimension is 720"

[2022-06-16 09:11] #36 closed

[2022-06-17 01:43] liuliaocheng commented on #36
hh,thx, i found it yesterday, forgot to delete the question

[2022-06-17 01:46] huoguangdiandian commented on #35
@xoiga123 I only use the test results, partition is not used, val_from_cmd is available.
I have another problem is that  Is there a pre-training model based on training 10 classes???

[2022-06-17 02:12] xoiga123 commented on #35
@huoguangdiandian Sorry, I don't quite understand your first sentence. I fixed your bug in the latest commit. Save your 10-class weight and clone the repository again and validate on that, it should work then.  And no, we currently don't have a pre-trained model on 10 classes.

[2022-06-17 02:18] xoiga123 commented on #26
@Yunboxun are you using multiprocessing or DataParallel? That Pickle error seems familiar and was fixed in ecc835c, pull/clone the repository and use `train_ddp.py` instead of `train.py`

[2022-06-17 12:30] Laulian commented on #20
It seems doesn't work when I change the "seg_list" from "['road', 'lane']" to "['road', 'double white', 'double yellow', 'single white', 'single yellow', 'solid', 'dashed']". Should i do some other customized modify?

[2022-06-17 13:18] xoiga123 commented on #20
@Laulian we only provide a customized lane-line label (as stated in the paper), which doesn't contain all the classes you've listed. For the original lane-line label, please refer to [the original dataset](https://doc.bdd100k.com/download.html). After downloading, you have to convert [a single png with every class information](https://doc.bdd100k.com/format.html#lane-mask) into a png for each clas

[2022-06-18 13:02] yt7589 opened #37 "How to prepare the bdd100k dataset?"
Hi.
According to the README.txt, I had prepared bdd100k dataset. But the BddDataset failed to load the dataset. I think something wrong with my bdd100k dataset preparation process. In fact I had no idea about where to put colormaps, masks, polygons, rles folder of drivable and lane. I don't know where to put the json file of detection labels.

Please give the detailed folder structure.

[2022-06-19 11:33] xoiga123 commented on #37
We have a [colab notebook](https://colab.research.google.com/drive/1dpMrjgJs3qKxaKR833RJDyZTh2O1-Wyn?usp=sharing#forceEdit=true&sandboxMode=true) for that.

[2022-06-20 02:04] harrylee999 opened #38 "AssertionError BUG"
if i just want to seg one class，such as seg_list only have ’road‘.
Then i run train.py ,
 in loss.py line 538,
 in soft_tversky_score assert output.size() == target.size()
 AssertionError

then i debug code,find output.size() = torch.Size([2, 1, 245760])   target.size() = torch.Size([2, 1, 491520])

How to fix that???

[2022-06-20 08:47] Laulian commented on #20
@xoiga123  I see, thanks for the detailed reply, will try it. BTW, i have found a bug in your new val.py at line142,feel free.

[2022-06-21 11:20] luceeleven opened #39 "Evaluation results not accurate?"
Hi,
I've been trying to recreate your results from the Hybridnets paper. I've run the eval code on the 100k dataset but the results I'm getting are nowhere close to the actual results you presented in the paper. I'm sure I'm missing something here, could you please tell me what could possibly be going wrong here.
I think the root locations that I'm giving are inaccurate.

The output that I got aft

[2022-06-22 03:12] xoiga123 commented on #39
![image](https://user-images.githubusercontent.com/57395545/174934499-41ec8af2-6026-44e2-8401-023fbbfa3757.png)
This is what I got with 100 images. Are you sure you're using the same road and lane labels as us? You can uncomment some `cv2.imwrite` blocks in `dataset.py` to check if they're correctly set up.

Precision is low because we chose the confidence threshold where Recall is maximum to prin

[2022-06-22 04:06] #37 closed

[2022-06-22 06:33] xoiga123 commented on #38
Should work now

[2022-06-22 06:39] xoiga123 opened #40 "Multi-class vs multi-label segmentation"
#15 #38
We were using multi-label dataloader, loss and metrics for a multi-class problem. Basically they work fine and the results are correct (maybe focal loss segment is a little bit off, who knows, will check further) but to someone reading the code, the semantic meaning is wrong.

TODO: Generalize to multi-class as default, with a switch to multi-label.
TODO in another issue: Multi-label for o

[2022-06-22 07:12] xoiga123 commented on #38
Btw, I fixed this by using softmax for both binary and multi-class. While it is learnable, [some](https://stats.stackexchange.com/questions/207049/neural-network-for-binary-classification-use-1-or-2-output-neurons) advocate against this approach. I'll separate binary, multi-class and multi-label in #40.

[2022-06-22 07:36] luceeleven commented on #39
Thanks a lot, I was indeed giving wrong mask location, I changed it to colormasks and now I'm getting the correct values. For the precision values, it should increase if I increase the confidence threshold right?

[2022-06-22 09:06] xoiga123 commented on #39
@luceeleven yeah, try `python val.py --conf_thres 0.5` now

[2022-06-22 17:51] #39 closed

[2022-06-23 08:32] xoiga123 commented on #20
@Laulian @nannapaneni4 do you guys have any suggestion for multi-label segmentation display when inferring? Normally, each class has their own color. Or should I use the order of classes in `seg_list` as their importance, whichever is first gets to have their color displayed?

[2022-06-23 10:28] xoiga123 commented on #20
Man, I've got most of the code done for multi-label (no pretrained of course, tested and ran fine for a few epochs), but what really got me stuck is inference display, how do you want the information conveniently delivered to you?

To be fair, this list is multi-class and each class can be assigned to a color:
[code]

While this list is multi-label, and is ass to learn (I guess) and display:
[code

[2022-06-24 07:49] aimuch commented on #30
I meet the same issue:
OS: Ubuntu20.04
GPU: 3090
CUDA: 11.3
[code]

[2022-06-24 08:10] xoiga123 commented on #30
@aimuch Sorry to hear that, please check [this comment](https://github.com/datvuthanh/HybridNets/issues/16#issuecomment-1095370241) for workarounds. I'll put this in the readme so people know about it.

[2022-06-24 08:30] aimuch commented on #30
Think you, I will try later.

[2022-06-24 15:38] aimuch commented on #30
There is another error:
<img width="877" alt="Snipaste_2022-06-24_22-40-27" src="https://user-images.githubusercontent.com/17581911/175569315-d8c3f1f3-f430-4e73-a351-552626c87350.png">

After the code is modified to the following, it can be trained normally：
<img width="944" alt="Snipaste_2022-06-24_23-35-03" src="https://user-images.githubusercontent.com/17581911/175569419-e21614c0-f10c-4c5d-a0af

[2022-06-25 15:56] mickey-cool commented on #20
Excuse me,I found that when I finished the first epoch, the training process was killed automatically, do you know what is the problem?

[2022-06-26 15:23] ZJUGuoXiangyu opened #42 "How to change backbone model"

[2022-06-27 03:34] xoiga123 commented on #20
@mickey-cool please check [this comment](https://github.com/datvuthanh/HybridNets/issues/16#issuecomment-1095370241).

[2022-06-27 03:41] aimuch opened #43 "Train flow"
hello，
In the [### Training stages](https://github.com/datvuthanh/HybridNets/blob/8fd2490766796049df7b639e727b46280b8526e9/README.md?plain=1#L253)
Are these three steps independent? My understanding is that the second step needs to continue training on the model of the first step, the third step continues to train on the model of the second step, and the second and third steps are specified by -w.

[2022-06-27 03:46] xoiga123 commented on #43
@aimuch yes that's correct

[2022-06-27 03:48] #43 closed

[2022-06-27 07:04] yt7589 opened #44 "Out of memory error during call val.py?"
In the training phase when it calls val.py to evaluate the model performance it will suspend for about half an hour and then display killed. Use the command:
[code]
It would report that the python process was killed because out of memory error occured.

How to solve this problem?

[2022-06-27 08:40] xoiga123 commented on #44
@yt7589 please check [this section](https://github.com/datvuthanh/HybridNets#3-evaluate).

[2022-06-27 09:09] liuliaocheng commented on #33
Same question

[2022-06-27 10:24] xoiga123 commented on #40
For multi-label object detection, we're waiting for a best practice from [yolov5](https://github.com/ultralytics/yolov5/pull/5593). Currently, their dataloader is like this:

cls_1, x1, y1, w1, h1
cls_2, x1, y1, w1, h1
cls_3, x2, y2, w2, h2
cls_4, x2, y2, w2, h2

row_num1, x1, y1, w1, h1
row_num2, x2, y2, w2, h2
[row_num1] cls_1, cls_2
[row_num2] cls_3, cls_4

Personally, I do not like this approa

[2022-06-28 09:10] kingmacth opened #45 "Only do lane line detection"
What if I only need to do lane line detection?
Can I achieve faster inference?

[2022-06-28 09:36] xoiga123 commented on #45
@kingmacth no

[2022-06-28 10:55] aimuch opened #46 "Did anyone successfully export onnx?"
code as follows, but export nothing:
[code]
shell log:
[code]

[2022-06-29 01:43] ZJUGuoXiangyu opened #47 "How to change backbone model? How to use timm to create another backbone replacing efficientnet?"

[2022-07-01 07:09] aimuch commented on #46
Solved:
modify backbone.py
[code]

[2022-07-01 07:39] xoiga123 commented on #46
@aimuch

@aimuch that's great, please feel free to open a pull request if you succeeded

[2022-07-02 04:24] datvuthanh commented on #47
@xoiga123  please help this guy.

[2022-07-05 08:28] aimuch commented on #46
Now, I can export onnx, but snpe cannot support asymmetric pads. So I need to change the backbone to retry.
[code]

[2022-07-05 08:28] #46 closed

[2022-07-05 08:59] aimuch opened #48 "How to replace Conv2dStaticSamePadding and MaxPool2dStaticSamePadding in order to be able to transfer out dlc on the Qualcomm platform"
As shown above, using Qualcomm toolchain to export dlc file, there is error:
[code]
I try [EfficientNet-PyTorch](https://github.com/lukemelas/EfficientNet-PyTorch) to exprot dlc successfully.
I found the problem to arise `Conv2dStaticSamePadding` and `MaxPool2dStaticSamePadding`, the using F.pad to asymmetric padding.
So, How to replace them?

[2022-07-06 02:12] ZJUGuoXiangyu opened #49 "How to change backbone model? How to use timm to create another backbone replacing efficientnet?"

[2022-07-06 09:31] aimuch commented on #47
-bb mobilenetv3_large_100

[2022-07-06 09:31] aimuch commented on #49
-bb mobilenetv3_large_100

[2022-07-06 11:48] #49 closed

[2022-07-07 02:26] #20 closed

[2022-07-07 02:27] #44 closed

[2022-07-07 02:27] #45 closed

[2022-07-07 06:38] xoiga123 commented on #34
Btw I figured it out. [Check this colab.](https://colab.research.google.com/gist/xoiga123/ac82600a8a31a92767a0eea415640a71/gradient-flow.ipynb)

1. If you freeze the last layers, backprop still flows back to the earlier layers like usual. The frozen layers just don't get the new grad -> the backbone can still learn even if you freeze all heads.
2. If segmentation head is frozen for example. the ba

[2022-07-07 06:44] #34 closed

[2022-07-08 03:39] xoiga123 opened #50 "amp & channels_last"
channels_last:
- https://pytorch.org/blog/tensor-memory-format-matters/
- https://pytorch.org/tutorials/intermediate/memory_format_tutorial.html
- https://github.com/pytorch/pytorch/issues/57806
- https://discuss.pytorch.org/t/why-does-pytorch-prefer-using-nchw/83637
- https://gist.github.com/mingfeima/595f63e5dd2ac6f87fdb47df4ffe4772
- memory format != dimension format

Contiguous: Tensor memory

[2022-07-11 00:50] ZJUGuoXiangyu commented on #47
(HybridNets) F:\HybridNets-1&gt;Python train.py -bb mobilenet
building database...
100%|################################################################################################################################################################################################| 927/927 [01:16<00:00, 12.07it/s]&nbsp;
database build finish
building database...
100%|###############################

[2022-07-11 00:50] ZJUGuoXiangyu commented on #47
(HybridNets) F:\HybridNets-1&gt;Python train.py -bb mobilenet
building database...
100%|################################################################################################################################################################################################| 927/927 [01:16<00:00, 12.07it/s]
database build finish
building database...
100%|#####################################

[2022-07-21 12:30] qiumeng6 opened #51 "How to select number of gpus?"
hi,
i want to train on multiple gpus with train_DDP.py,
but i do not know which param determine the number of gpus.
Looking forward to your reply ！ Thank you!

[2022-07-22 02:24] xoiga123 commented on #51
Hi, you can use `python3 train_ddp.py --num_gpus 8`

[2022-07-24 07:06] HerrYu123 opened #52 "Checkpoint File?"
Hi, I'm trying to reproduce your results. Could you please provide the best checkpoint file? Thanks in advance!

[2022-07-25 03:23] xoiga123 commented on #52
We are currently in the process of retraining, and we will update the full training log when we finish.

We used the [pretrained D3 weight](https://github.com/zylo117/Yet-Another-Efficient-Pytorch/releases/download/1.0/efficientdet-d3.pth) of [Yet Another EfficientDet Pytorch](https://github.com/zylo117/Yet-Another-EfficientDet-Pytorch), which our model is heavily based on. This increased mAP@0.5

[2022-07-25 03:23] #51 closed

[2022-07-25 03:25] HerrYu123 commented on #52
Thanks a lot!

[2022-07-26 08:59] xoiga123 commented on #52
@HerrYu123 Seems like we could reach SOTA on 3 tasks this time :partying_face:. Stay tuned

[2022-07-28 09:22] lightning0016 opened #53 "how to recognition each road line"
for example, left line and right line,not pixel

[2022-07-29 15:01] bigsquirrel18 opened #54 "The loss doesn't converge when training segmentation head only."
I changed the backbone to Efficientnet-b0 and reduce the number of BiFPN layers from 6 to 1, in order to cut down the runtime of inference. After training 200 epochs with segmentation head frozen, I tried to train the model freezing backbone and detection head. But I found that the train loss of segmentation head dose not seem to converge. And the loss of valuation and mIOU are reducing at the sam

[2022-07-29 15:18] bigsquirrel18 commented on #54
And I found that the inference speed is much lower than YOLOP if take Efficientnet-b3 as backbone and use 6 BiFPN layers to fuse features. (28 FPS vs 74 FPS on the same machine)

[2022-07-31 06:22] sovit-123 opened #55 "Issue with FPS calculation code."
Hello. First of all, great work.

While running the `hybridnets_test_videos.py` I found some issues with the FPS calculation part.
In the `hybridnets_test_videos.py` script, the FPS is calculated as:
`(t2-t1)/frame_count)`

But it seems that the above code will give the inference time per frame and not the FPS. Most probably it should be:
`1/(t2-t1)/frame_count)`
That is, we need to divide it by 1

[2022-08-01 03:13] xoiga123 commented on #53
Are you trying to create lines with the pixel output? Maybe `np.polyfit` or `np.interp` could help as in [this answer](https://stackoverflow.com/a/49041142).

[2022-08-01 03:47] xoiga123 commented on #54
About that...

There is a bug in `random_perspective` in `utils.py`, which does affine transform on segmentation labels but unintentionally creates gray labels (0<value<255). Please add in `flags=cv2.INTER_NEAREST` so labels remain black and white. But if you're training in `MULTICLASS_MODE`, this doesn't affect really because I only used white pixels to create segmentation label tensor `segmentat

[2022-08-01 03:49] xoiga123 commented on #55
Noted, thank you!

[2022-08-01 09:39] bigsquirrel18 commented on #54
Thanks a lot for the detailed reply, I really appreciate it!
Btw, the change `seg_loss = seg_loss.mean() if not opt.freeze_seg else torch.tensor(0)` was not synchronized in `train_dpp.py`. And I think the reason why my segmentation head didn't converge is that the backbone was pruned too much, making it pretty difficult to extrat useful features from original images.

[2022-08-01 09:52] xoiga123 commented on #54
I'll look into `train_ddp.py` later, thank you!

And what do you mean by pruning? As in reducing BiFPN layers from 6 to 1? Apart from that, I don't think we did any pruning at all.

[2022-08-01 10:01] bigsquirrel18 commented on #54
Yeah, by pruning I mean reducing BiFPN layers from 6 to 1 and changing the backbone to Efficientnet-b0 (my English is not so good  ⁄(⁄ ⁄ ⁄ω⁄ ⁄ ⁄)⁄

[2022-08-01 10:05] xoiga123 commented on #54
It's alright, @datvuthanh what do you think about his network configuration?

[2022-08-02 03:08] Chinajuedui opened #56 "Issue with output segmentation mask"
When my seg_list is ['road', 'lane'], output segmentation mask class contains [0, 1, 2], What do they mean ?

[2022-08-02 03:14] xoiga123 commented on #56
0 is background, 1 is road, 2 is lane

[2022-08-02 03:15] Chinajuedui commented on #56
Thank you

[2022-08-02 13:48] eren-aydemir opened #57 "Reproducing training results"
First of all, thanks for sharing your study. I am trying to reproduce your results by training the network with strategy you gave. For me to compare how am I doing, could you please share your loss plots for each phases (freeze seg, freeze backbone and det, train end-to-end)?

[2022-08-02 21:02] Daigo9449 commented on #54
Hi! Are there any considerations/is possible to train the network in a custom dataset? I am interested in training the object detection head in order to detect more classes on the road.

[2022-08-03 02:37] bigsquirrel18 commented on #54
Hi there, good news! I've found where the bug is.
I tested the seg loss seperately while freezing det head, the tversky loss was convergent, but the focal loss was not. At the very beginning, the focal loss was around 0.8, but as trainning goes on it increased to more than 1.0, and was still increasing after 2 epoches. I read the code and found that in `loss.py` the probability was computed as `pt

[2022-08-03 04:52] hankplease commented on #55
First of all, great work.

[2022-08-03 05:28] hankplease opened #58 "Issue with FPS mistake in the article"
Hello. First of all,thank you for this work.

I noted you mistake the code about the inf_time and fps.

So I think maybe you  calculation the inference time incorrectly in the article , your article show that YOLOP  have 52ms the infercence time per frame(batch size 1), which mean 20fps? (although 41 fps show in the YOLOP's article).

And sadly in the hybridnets_test.py , i try calculate the HYBRI

[2022-08-03 06:16] #56 closed

[2022-08-03 12:03] dreamer-1996 opened #59 "Problem in Training stage"
Hello,
I tried to follow your suggestion to train the model. So accordingly, at first I freeze the segmentation and trained for some epoch.

[code]

After that I am freezing the backbone and detection head.

[code]
 But I am getting the error

![image](https://user-images.githubusercontent.com/61982054/182602855-cb1ac30e-0c51-42c3-8db1-e2fccc5fb563.png)

Can you please suggest how to solve this is

[2022-08-04 02:20] xoiga123 commented on #58
The correct result from our paper is from `hybridnets_test.py`, while that bug is from `hybridnets_test_videos.py`. Sorry for the confusion.

Can you provide us with your exact benchmark configuration (cuda, cudnn)? We rented a V100 instance on [vast.ai](https://vast.ai/) and did our benchmark there, maybe it had something to do with cuda optimization? As referenced in [this comment](https://githu

[2022-08-04 06:31] bigsquirrel18 commented on #58
Maybe you can enhance inference speed by setting `cudnn.benchmark = False` in line 69 in `hybridnets_test.py`. After I applied that change, the inference time reduced from 0.050s to 0.353s (batch size 1).

[2022-08-04 18:52] xoiga123 commented on #59
Sorry for the late reply, there was a bug in `val.py`, I'll fix in next commit.

In the mean time, please change this line
https://github.com/datvuthanh/HybridNets/blob/c15ba5b3c019c8a7fea71e017c18c05b163adb18/train.py#L203
to
`optimizer.load_state_dict(ckpt['optimizer'].state_dict())`
and it'll load the optimizer from weight correctly.

[2022-08-06 10:42] bigsquirrel18 commented on #54
Good news! I've found why the seg loss trained in multiclass mode didn't converge!

I tested tversky loss and focal loss separately, and found that only focal loss didn't converge. So I checked the code in focal loss section, and discovered a bug!

The probability `y_pred` was computed by softmax function in multiclass mode, and the focal loss of it is supposed to be `- gt * (1-y_pred)^gamma * log

[2022-08-06 13:05] dreamer-1996 commented on #59
Thank you for your reply.

[2022-08-06 13:05] #59 closed

[2022-08-08 07:19] xoiga123 commented on #54
@bigsquirrel18 Hi, that's really great :+1:. We took the [stock Focal Loss](https://github.com/qubvel/segmentation_models.pytorch/blob/master/segmentation_models_pytorch/losses/focal.py) with no modifications (well apart from [this tiny thing](https://github.com/qubvel/segmentation_models.pytorch/issues/612)). I'm in no position to validate your change :dizzy_face:, tagging @datvuthanh because he

[2022-08-11 02:40] Chinajuedui opened #60 "How should I prepare my segmentation mask label"
if I have two classes, background and lane. My segmentation mask label contains 0 and 1 or 0 and 255?

[2022-08-11 07:10] xoiga123 commented on #60
0 and 255 is good

[2022-08-12 11:25] cagataysari commented on #54
Hello, we came across the same problem with seg loss and we also replicated that only focal seg loss would not converge. We were able to converge segmentation loss with only Tversky. We will try the patch that bigsquirrel suggests and report the results here soon

[2022-08-12 11:50] bigsquirrel18 commented on #54
Hi @cagataysari , actually I met another problem after modifying the focal loss and didn't figure it out. The modified focal loss started to converge indeed, but after 2 epoches the indicator stopped updating. At first I guess it was because `y_pred` was too small, making `log(y_pred)` towards -inf, but after I applied `F.nll_loss()`, the problem was not solved. Hope you can make a forward step!

[2022-08-12 13:09] cagataysari commented on #54
hello @bigsquirrel18 , thank you for the support. We were able to converge the loss by commenting out FocalSegLoss and instead using monai's focalloss function too. You might want to use that maybe https://docs.monai.io/en/stable/losses.html#focalloss

[2022-08-13 05:10] bigsquirrel18 commented on #54
Thanks a lot for the advice @cagataysari, I'll try it later!

[2022-08-14 07:59] Chinajuedui opened #61 "When I infer my images, error occurs. How can i solve it?"
<img width="831" alt="image" src="https://user-images.githubusercontent.com/27952522/184527827-fc63327a-b084-4098-a9e3-cea21d582f34.png">
my image shape is (1028, 1232, 3)

When training, my image shape is (717, 1276, 3). Training and validating procession is ok.

[2022-08-16 08:24] luceeleven commented on #61
https://github.com/datvuthanh/HybridNets/issues/32

[2022-08-16 12:40] Chinajuedui commented on #61
Thank you. The problem stills can be solved.
The image shape is (1024, 1216, 3)

[2022-08-19 06:29] datvuthanh commented on #61
Show your error image.

[2022-08-19 06:30] datvuthanh commented on #58
If you don't have question anymore, i'll close this issue.

[2022-08-19 06:30] #58 closed

[2022-08-19 06:30] datvuthanh commented on #60
I'll close this issue.

[2022-08-19 06:30] #60 closed

[2022-08-19 06:32] datvuthanh commented on #57
Sorry about that, my bad for saving logging.

[2022-08-19 06:32] #57 closed

[2022-08-23 13:44] eren-aydemir opened #62 "How to generate drivable area and lane masks?"
I know you shared a drive link for bdd100k drivable area and lane masks for the dataloader but I want to replicate it for understanding what to do for my custom dataset. I looked for bdd repo and there is "to_mask.py" which has some scripts to do it. It passes its own tests but I cannot get similar results as you shared. Can you please explain how to generate those masks? Thanks in advance.

[2022-08-31 08:33] Aruen24 opened #63 "How do you generate the lane segmentation mask png picture for the BDD100K?"
- ./datasets/da_seg_annotations
- ./datasets/ll_seg_annotations

[2022-09-02 05:06] shuoshuo09 opened #64 "Inferring pictures and videos"
In model validation，Inferring pictures and videos，appear  RuntimeError: unexpected EOF, expected 596029 more bytes. The file might be corrupted

[2022-09-15 07:08] Aruen24 opened #66 "针对BDD100K数据如何生成可行驶区域mask和车道线mask数据图像？"

[2022-09-28 08:09] fatevase opened #67 "paper segmentation result on val or test?"
I don't know whether the results show in the paper are in the val set or the test set,
because there is no label for the test set to calculate.

[2022-09-29 23:06] #67 closed

[2022-10-03 15:01] #50 closed

[2022-10-20 16:10] thaihoangminhtam opened #75 "Về FCW, LDW"
Hi team

Mình cũng biết team qua CDS. Lâu quay lại thấy HybridNets các bạn làm xịn qué. Mình đang tính làm ADAS vài function về Forward Collision Warning và Lane Departure Warning không biết mọi người có reference không. Mình tính implement công trình của mấy bạn + FCW + LDW + Keep Lane với HMI ^^ trên xe golf điện + Jetson Xavier. Nếu có reference cho mình xin nhen